@import "tailwindcss";

html {
    font-size: 18px;
}

body {
    @apply m-0 bg-stone-50 text-stone-900;
    font-family: "Times New Roman";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover {
    @apply opacity-60;
}

.layout {
    padding: 1.25rem;
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 42rem;
}
